{% autoescape true %}
<html>
  <head>
    <title>Elenco corsi - Condivisione</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{css}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    {% include 'nav.html.j2' %}
    <div class="container">
      <h1>
         Corsi attivi
      </h1>
      <form class="form-inline" action="/searchlesson" method="post">
        <input type="text" class="form-control" name="ricerca">
        <input class="form-control" type="submit" value="Cerca">
    </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Materia</th>
            <th>Professore</th>
            <th>Argomenti</th>
            <th>Proprietario</th>
            <th>Luogo</th>
            <th>Costo all'ora</th>
            <th>Iscriviti</th>
            <th>Elimina</th>
          </tr>
        </thead>
        {% for corso in corsi %}
          <tr>
            <td>{{ corso.materia }}</td>
            <td>{{ corso.professore }} </td>
            <td>{{ corso.nome }}</td>
            <td>{{ corso.Proprietario }}</td>
            <td>{{ corso.luogo }}</td>
            <td>{{ corso.prezzo }}</td>
            <td><a href="/corso_iscrizione/{{ corso.cid }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td>{% if corso.idProprietario is equalto uid %}<a href="/corso_del/{{ corso.cid }}"><span class="glyphicon glyphicon-remove">{% endif %}</span></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
{% endautoescape %}
