{% autoescape true %}
<html>
  <head>
    <title>Prenotazione - Condivisione</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{css}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    {% include 'nav.html.j2' %}
    <div class="container">
      <h1>
         Prenotazione
      </h1>
      <div class="alert alert-info"> Attraverso questo form, prenoterai una ripetizione. Una volta fatto, verrà inviata una mail al proprietario del corso </div>
      <form class="form-inline" action="/corso_iscrizione/{{ cid }}" method="post">
        <input class="form-control" type="text" placeholder="Ora" name="ora">
        <input class="form-control" type="text" placeholder="Data" name="data">
        <input class="form-control" type="submit">
      </form>
   </div>
  </body>
</html>
{% endautoescape %}
