<html>
  <head>
    <title>Aggiunta utente - Condivisione</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{css}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    {% include 'nav.html.j2' %}
    <div class="container">
      <h1>
         Registrazione al sito Condivisione
      </h1>
      <div class="alert alert-warning"> Il tuo username sara' il tuo indirizzo di posta elettronica. Una volta registrato non sara' piu' possibile cambiarlo.</div>
      <form class="form-inline" action="/register" method="post">
        <input class="form-control" type="text" placeholder="Email" name="username">
        <input class="form-control" type="password" placeholder="Password" name="passwd">
        <input class="form-control" type="text" placeholder="Nome" name="nome">
        <input class="form-control" type="text" placeholder="Cognome" name="cognome">
        <input class="form-control" type="text" placeholder="Classe" name="classe">
        <input class="form-control" type="submit">
      </form>

   </div>
  </body>
</html>
